.Feature {
  top: 0;
  left: 0;
  width: 100vw;
  height: 500rem;
  background-color: var(--background);
}
.Introduce > .preset {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1250px;
  max-width: 90vw;
  height: 100%;
}
