.Introduce {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60rem;
  max-height: 100vh;
  background: var(--background);
}

.Introduce > .preset {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1250px;
  max-width: 90vw;
  height: 100%;
}

.Introduce > .preset > .title-img {
  position: absolute;
  top: 50%;
  height: 35%;
  right: 0;
  z-index: -1;
  transition: transform 250ms ease-in-out;
}

.Introduce > .preset > .path-img {
  position: absolute;
  top: calc(50% - 14.5rem);
  transform: translateY(-50%);
  height: 2rem;
  right: 18rem;
  z-index: -1;
  animation: movement 1.1s ease-in-out infinite alternate;
}

.Introduce > .preset > .asset-img {
  position: absolute;
  top: calc(50% - 14.5rem);
  transform: translateY(-50%);
  height: 3rem;
  right: -1rem;
  z-index: -1;
  animation: movement 1.4s ease-in-out infinite alternate-reverse;
}

.Introduce > .preset > .explore-img {
  position: absolute;
  top: calc(50% + 7.5rem);
  transform: translateY(-50%);
  height: 3rem;
  right: 35rem;
  z-index: -1;
  animation: movement 1.1s ease-in-out infinite alternate-reverse;
}

.Introduce > .preset > .object-img {
  position: absolute;
  top: calc(50% + 13.5rem);
  transform: translateY(-50%);
  height: 2rem;
  right: -4rem;
  z-index: -1;
  animation: movement 1.4s ease-in-out infinite alternate;
}

.Introduce > .preset > .title-preset {
  position: absolute;
  height: auto;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.Introduce > .preset > .title-preset > .title {
  font-family: 'Urbanist', sans-serif;
  font-weight: 900;
  font-size: 4rem;
  color: var(--textBlack);
  line-height: 4.25rem;
}

.Introduce > .preset > .title-preset > .title > span {
  /* font-style: italic; */
  background: linear-gradient(45deg, #cf33e5, #8052ff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.Introduce > .preset > .title-preset > .detail {
  font-weight: 400;
  color: var(--textDetail);
  font-size: 1.25rem;
  margin-top: 1.75rem;
}

.Introduce > .preset > .title-preset > button {
  min-width: 8rem;
  height: 3rem;
  padding: 0 1rem;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: ease-out background-color 100ms;
  font-size: 1.05rem;
  cursor: pointer;
  font-weight: 500;
  background-color: #7f52ff;
  color: #fff;
  margin-top: 4rem;
}

.Introduce > .preset > .title-preset > button:hover {
  background-color: #7048e0;
}

@keyframes movement {
  0% {
    margin-top: 0rem;
  }
  0% {
    margin-top: 0.75rem;
  }
}
